:root{
  --gold: #fbb231;
  --negro: #363636;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #d5d5d5;  
  justify-content: space-between;
}

/* cabecero blanco */
header{  
  background-color: white;
  width: 90%;
  margin: 0 auto; 
}

.nav-link:hover {
  color: #fbb231;  
}

.nav-link{
  color: #363636;
}

main{
  width: 90%;  
}

h1{
  color: #363636;
}

.navbar-nav .nav-link.active{
  color: #fbb231;
}

.btn_wpp{
  /* border: solid white 2px; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* padding: 20px 40px; */
  /* color: white; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 600; */
  background-color: green;
}

.boton:hover{
  box-shadow: 0 4px 16px rgb(4, 247, 247);
  transition: all 0.2s ease;
  /*transition: background-color 0.3s ease;
  background-color: #363636;*/

}

.social-icons {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
}

.social-icons a {
  display: block;
  margin-right: 10px; /* Espacio entre los iconos */
  color: #333; /* Color del icono */
}

.social-icons a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último icono */
}

.footer_div1{
  width: 90%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 60px;  
  flex-direction: column;
  background-color: rgb(0 0 0 / 10%); 
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.footer_div2{
  height: 40px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  background-color: #363636;
}


nav {
  font-size: 1.3rem; /* Tamaño de letra fs-4 de Bootstrap */
}

@media (max-width: 576px) {
  nav {
    font-size: 1.0rem; /* Tamaño de letra fs-4 de Bootstrap */
  }
}



/* solo para nav nuevo */
nav {
  /* background-color: #333;
  color: #fff; */
  position: relative; /* Agregado para establecer la posición de referencia para z-index */
  z-index: 9999; /* Agregado para establecer el valor de z-index */
}

nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  width: 300px;
}

nav li {
  /* flex: 1;
  text-align: center; */
  position: relative;
}

/* nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none; 
} */

/* nav a:hover {
  background-color: #555;
} */

nav .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

/* muestra submenu al pasar el mouse */
nav .has-submenu:hover > .submenu {
  display: block;
}

nav .submenu li {  
  display: block;
}

nav .submenu a {
  padding: 10px;  
  /* width: 200px; */
}

nav .submenu .has-submenu {
  position: relative;
}

nav .submenu .has-submenu > .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  
}

nav .submenu .has-submenu:hover > .submenu {
  display: block;
  width: 100%;

}

.dark, .dark .submenu{
  background-color: #363636; 
}

.dark a{
  color: white;
  /* background-color: #363636; */
  width: 100%;
  display: block;
  text-decoration: none;
}

.dark a:hover{
  color: white;
  background-color: #fbb231;
}

.iconos_sobre_nosotros{
  display: block; 
  text-align: center;
}

.iconos_sobre_nosotros img{
  width: 100px;
}

