:root{
  --gold: #fbb231;
  --negro: #363636;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #d5d5d5;  
  justify-content: space-between;
}

/* cabecero blanco */
header{  
  background-color: white;
  width: 90%;
  margin: 0 auto; 
}

.nav-link:hover {
  color: #fbb231;  
}

main{
  width: 90%;  
}

.navbar-nav .nav-link.active{
  color: #fbb231;
}

.btn_wpp{
  /* border: solid white 2px; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* padding: 20px 40px; */
  /* color: white; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 600; */
  background-color: green;
}

.boton:hover{
  box-shadow: 0 4px 16px rgb(4, 247, 247);
  transition: all 0.2s ease;
  /*transition: background-color 0.3s ease;
  background-color: #363636;*/

}

.social-icons {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
}

.social-icons a {
  display: block;
  margin-right: 10px; /* Espacio entre los iconos */
  color: #333; /* Color del icono */
}

.social-icons a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último icono */
}

.footer_div1{
  width: 90%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  flex-direction: column;
  background-color: rgb(0 0 0 / 10%); 
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.footer_div2{
  height: 40px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  background-color: #363636;
}

